<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link href="print.css" rel="stylesheet" media="print">
    <link href="style.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="qr_section">
<!--    <div class="top_heading">Codalien</div>-->
    <% let i = 0 %>
    <% qrData.forEach((data) => { %>
    <div class="qr_card_row">

        <div class="lg_car">

            <div class="iner_card">
                <div class="qr_code"><img src="<%=data%>"/></div>
                <div class="description_box">
                    <div class="top_row">
                        <span class="title_logo"><%= "CA-" + name[i].name.substring(0, 2) + name[i].name.substr(-2) + name[i]._id.substr(-6); %></span>
                        <span class="logo"><img src="logo.jpg"/></span>
                    </div>
                    <div class="top_row">
                        <table>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td class="lastt_child"><span>:</span><%=name[i].name%></td>
                            </tr>
                            <tr>
                                <td>DOP</td>
                                <td class="lastt_child"><span>:</span><%= new Date(name[i].dateOfPurchase).toDateString() %></td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td class="lastt_child"><span>:</span><%= name[i]._id %></td>
                            </tr>
                            <tr>
                                <td>S/N</td>
                                <td class="lastt_child"><span>:</span><%= name[i].serialNo %></td>
                            </tr>
                            <tr>
                                <td class="lastt_child">Codalien.com | Inventory</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right_verticle_line"><img src="print_bg.jpg"/></div>
            </div>


        </div>

        <div class="md_car">

            <div class="iner_card">
                <div class="qr_code"><img src="<%=data%>"/></div>
                <div class="description_box">
                    <div class="top_row">
                        <span class="title_logo"><%= "CA-" + name[i].name.substring(0, 2) + name[i].name.substr(-2) + name[i]._id.substr(-6); %></span>
                        <span class="logo"><img src="logo.jpg"/></span>
                    </div>
                    <div class="top_row">
                        <table>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td class="lastt_child"><span>:</span><%= name[i].name %></td>
                            </tr>
                            <tr>
                                <td>DOP</td>
                                <td class="lastt_child"><span>:</span><%= new Date(name[i].dateOfPurchase).toDateString() %></td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td class="lastt_child"><span>:</span><%= name[i]._id %></td>
                            </tr>
                            <tr>
                                <td>S/N</td>
                                <td class="lastt_child"><span>:</span><%= name[i].serialNo %></td>
                            </tr>
                            <tr>
                                <td class="lastt_child">Codalien.com | Inventory</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right_verticle_line"><img src="print_bg.jpg"/></div>
            </div>


        </div>




        <div class="sm_car">

            <div class="iner_card" style="position: relative;">
                <div class="qr_code"><img src="<%=data%>"/></div>
                <div class="description_box">
                    <div class="top_row">
                        <span class="title_logo"><%= "CA-" + name[i].name.substring(0, 2) + name[i].name.substr(-2) + name[i]._id.substr(-6); %></span>
                        <span class="logo"><img src="logo.jpg"/></span>
                    </div>
                    <div class="top_row">
                        <table>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td class="lastt_child"><span>:</span><%= name[i].name %></td>
                            </tr>
                            <tr>
                                <td>DOP</td>
                                <td class="lastt_child"><span>:</span><%= new Date(name[i].dateOfPurchase).toDateString() %></td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td class="lastt_child"><span>:</span><%= name[i]._id %></td>
                            </tr>
                            <tr>
                                <td>S/N</td>
                                <td class="lastt_child"><span>:</span><%= name[i].serialNo %></td>
                            </tr>
                            <tr>
                                <td class="lastt_child">Codalien.com | Inventory</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="right_verticle_line"><img src="print_bg.jpg"/></div>
            </div>
        </div>


        <br><br>
    </div>



    <div class="clear"></div>
    <% i++}) %>




</div>

</body>
</html>